<template>
  <v-container>
    <v-banner two-line>
      <v-avatar slot="icon" color="blue darken-3 accent-4" size="40">
        <v-icon icon="mdi-playlist-edit" color="white">
          mdi-playlist-edit
        </v-icon>
      </v-avatar>

      <h2 class="display-1 primary--text">Panneau d'administration</h2>
    </v-banner>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Extra time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user._id">
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.extraTime }}</td>
            <td>
              <v-btn @click.stop="toggleUpdate(user._id)">
                Edit
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-dialog v-model="isModalUp" max-width="290">
      <v-card>
        <v-card-title class="headline">
          Modifier un utilisateur
        </v-card-title>

        <v-card-text>
          <v-text-field v-model="editedUser.firstName" label="Prénom"></v-text-field>
          <v-text-field v-model="editedUser.lastName" label="Nom"></v-text-field>
          <v-text-field v-model="editedUser.email" label="Email"></v-text-field>
          <v-text-field
            v-model="editedUser.extraTime"
            label="Temps bonus (%)"
            type="number"
          ></v-text-field>
          <v-select
            v-model="editedUser.role"
            :items="['student', 'professor', 'admin']"
            label="Role"
          ></v-select>
          <div>
            <v-spacer></v-spacer>
            <v-alert v-if="errorMessage != ''" dense type="error">
              {{ errorMessage }}
            </v-alert>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="primary darken-1" :loading="isLoading" @click="updateUser(editedUser._id)">
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import AdminService from "@/services/AdminService";

export default {
  name: "AdminComponent",
  data() {
    return {
      users: [],
      editedUser: {},
      isModalUp: false,
      isLoading: false,
      errorMessage: "",
    };
  },
  created() {
    this.fetchUsers();
  },
  methods: {
    fetchUsers() {
      const resp = AdminService.getUsers();
      resp
        .then((json) => (this.users = json.data.users))
        .catch((err) => {
          console.log(err);
        });
    },

    toggleUpdate(userID) {
      const currUser = this.users.find(({ _id }) => _id === userID);
      if (currUser !== undefined) {
        this.editedUser = { ...currUser };
        this.isModalUp = true;
      }
    },

    updateUser(userID) {
      this.errorMessage = "";
      delete this.editedUser._id;
      const resp = AdminService.patchUser(userID, this.editedUser);
      resp
        .then(() => {
          const userIndex = this.users.findIndex((user) => user._id === userID);
          this.$set(this.users, userIndex, { ...this.editedUser });
          this.editedUser = {};
          this.isModalUp = false;
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },
  },
};
</script>

<style></style>
