<template>
  <v-container>
    <v-row class="d-flex justify-center" v-if="!isLoggedIn">
      <v-card width="500" class="ma-10 px-2">
        <v-tabs>
          <v-tab>
            <v-icon left> mdi-account </v-icon>
            Login
          </v-tab>
          <v-tab>
            <v-icon left> mdi-lock </v-icon>
            Sign Up
          </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-form @submit.prevent="Login" ref="loginForm" v-model="valid">
                  <v-text-field
                    v-model="loginEmail"
                    :rules="[rules.required, rules.email]"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="loginPassword"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    @click:append="showPassword = !showPassword"
                    required
                  ></v-text-field>

                  <v-btn
                    :disabled="!valid"
                    color="success"
                    class="mr-4"
                    type="submit"
                    @click="loginValidate"
                  >
                    Validate
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-form
                  @submit.prevent="Register"
                  ref="registerForm"
                  v-model="valid"
                >
                  <v-text-field
                    v-model="firstName"
                    :rules="[rules.required]"
                    label="Name"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="lastName"
                    :rules="[rules.required]"
                    label="Last Name"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="email"
                    :rules="[rules.required, rules.email]"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    @click:append="showPassword = !showPassword"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="confirmPassword"
                    :append-icon="
                      showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :rules="[
                      password === confirmPassword || 'Password must match',
                    ]"
                    :type="showConfirmPassword ? 'text' : 'password'"
                    label="Confirm Password"
                    @click:append="showConfirmPassword = !showConfirmPassword"
                    required
                  ></v-text-field>

                  <v-btn
                    :disabled="!valid"
                    color="success"
                    class="mr-4"
                    type="submit"
                    @click="registerValidate"
                  >
                    Validate
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-row>
    <v-banner two-line v-else>
      <v-avatar slot="icon" color="green darken-3 accent-4" size="40">
        <v-icon icon="mdi-key" color="white"> mdi-key </v-icon>
      </v-avatar>

      <h2 class="display-1 success--text">Connecté</h2>
      Vous êtes authentifié et vous pouvez désormais suivre un lien vers un
      examen.
    </v-banner>

    <v-snackbar top :timeout="timeout" v-model="snackbar">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import AuthService from "@/services/AuthService";
import { bus } from "../main";

export default {
  name: "Auth",
  data() {
    return {
      //snackbar Register
      snackbar: false,
      text: "",
      timeout: 3000,
      isLoggedIn: false,
      //loginForm
      loginEmail: "",
      loginPassword: "",
      //registerForm
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      confirmPassword: "",
      //default settings
      showPassword: false,
      showConfirmPassword: false,
      checkbox: false,
      valid: true,
      //rules
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 6 || "Min 6 characters",
        email: (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      },
    };
  },
  created() {
    this.isLoggedIn = localStorage.getItem("jwt") !== null;
    bus.$on("removeIt", () => {
      this.isLoggedIn = false;
    });
  },
  methods: {
    registerValidate() {
      this.$refs.registerForm.validate();
    },
    loginValidate() {
      this.$refs.loginForm.validate();
    },
    Register: function () {
      this.isFetchingAPI = true;
      this.errorMessage = "";
      this.successMessage = "";
      const resp = AuthService.register(
        this.firstName,
        this.lastName,
        this.email,
        this.password
      );
      resp
        .then(() => {
          this.$router.push("/").catch(() => {});
          this.text = `Inscription réussie. Vous pouvez vous connecter !`;
          this.snackbar = true;
          this.$refs.registerForm.reset();
        })
        .catch((err) => {
          this.text = "Erreur lors de l'inscription ";
          this.snackbar = true;
          this.errorMessage =
            err.response?.data.message || "Error: Could not reach server";
        })
        .finally(() => (this.isFetchingAPI = false));
    },
    Login: function () {
      this.isFetchingAPI = true;
      this.errorMessage = "";
      this.successMessage = "";
      const resp = AuthService.login(this.loginEmail, this.loginPassword);
      resp
        .then((value) => {
          this.$session.start();
          this.$session.set("user", value.data.user.firstName);
          this.$session.set("role", value.data.user.role);
          //bus
          bus.$emit("role", value.data.user.role);
          bus.$emit("changeIt", value.data.user.firstName);
          this.$router.push("/").catch(() => {});
          this.isLoggedIn = true;
          this.loginEmail = "";
          this.loginPassword = "";
        })
        .catch((err) => {
          this.errorMessage =
            err.response?.data.message || "Error: Could not reach server";
        })
        .finally(() => {
          this.isFetchingAPI = false;
        });
    },
  },
};
</script>

<style></style>
