<template>
  <v-footer sticky app>
    <v-col class="text-center" cols="12">
      {{ new Date().getFullYear() }} — <strong>App</strong>
    </v-col>
  </v-footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style>
</style>