<template>
  <v-container>
    <v-card class="ma-5 px-5 mb-10">
      <v-card-title> Création d'un nouvel examen</v-card-title>
      <v-card-text>
        <v-text-field
          v-model="exam.title"
          label="Titre de l'examen"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <v-text-field
          v-model="exam.duration"
          label="Durée en minutes"
          :rules="[rules.required, rules.isDuration]"
          type="number"
          required
        ></v-text-field>
        <v-text-field
          v-model="exam.maxTimeAway"
          label="Secondes maximum autorisés hors de l'onglet"
          type="number"
          required
        ></v-text-field>
        <v-datetime-picker
          label="Date"
          v-model="exam.startDate"
          :timePickerProps="{ format: '24hr' }"
        >
        </v-datetime-picker>

        <v-btn :disabled="!valid" color="success" class="mr-4" @click="createExam()">
          Créer
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card class="ma-5 px-5">
      <v-card-title> Création à partir de CSV</v-card-title>
      <v-card-text>
        <v-textarea v-model="csv" label="CSV" auto-grow></v-textarea>
        <v-btn color="success" class="mr-4" @click="createFromCSV()">
          Créer
        </v-btn>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import ExamsService from "@/services/ExamsService";

export default {
  name: "CreateExams",
  data() {
    return {
      exam: {
        title: "",
        duration: 0,
        maxTimeAway: 0,
        startDate: ""
      },
      valid: true,
      rules: {
        required: (value) => !!value || "Required.",
        isDuration: (v) => v > 0 || "Required valid duration",
      },
      isFetchingAPI: false,
      errorMessage: "",
      csv: "",
    };
  },
  methods: {
    createExam() {
      const resp = ExamsService.createExam(this.exam);
      resp
        .then(() => {
          alert("Nouvel Examen créé !");
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isFetchingAPI = false));
    },
  },
};
</script>

<style></style>
