<template>
  <v-container>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Date de début</th>
            <th>Durée (min)</th>
            <th>Temps hors de l'onglet autorisé (s)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exam in exams" :key="exam._id">
            <td>{{ exam.title }}</td>
            <td>{{ formatDate(exam.startDate) }}</td>
            <td>{{ exam.duration }}</td>
            <td>{{ exam.maxTimeAway }}</td>
            <td>
              <v-btn @click.stop="toggleUpdate(exam._id)" small class="mr-2">Modifier</v-btn>
              <v-btn
                @click.stop="$router.push('/exam/questions/' + exam._id)"
                color="primary"
                small
                class="mr-2"
                >Questions</v-btn
              >
              <v-btn
                @click.stop="exportExam(exam._id)"
                color="blue-grey"
                small
                class="mr-2 white--text"
                >Exporter</v-btn
              >
              <v-btn @click.stop="shareExam(exam._id)" small class="mr-2">Partager</v-btn>
              <v-btn @click.stop="deleteExam(exam._id)" small color="error">Supprimer</v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-dialog v-model="isModalUp" max-width="290">
      <v-card>
        <v-card-title class="headline">
          Modifier un examen
        </v-card-title>

        <v-card-text>
          <v-text-field v-model="editedExam.title" label="Titre"></v-text-field>
          <v-datetime-picker
            label="Date"
            v-model="editedExam.startDate"
            :timePickerProps="{ format: '24hr' }"
          >
          </v-datetime-picker>
          <v-text-field v-model="editedExam.duration" label="Durée" type="number"></v-text-field>
          <v-text-field
            v-model="editedExam.maxTimeAway"
            label="Temps hors de l'onglet autorisé (s)"
            type="number"
          ></v-text-field>
          <div>
            <v-spacer></v-spacer>
            <v-alert v-if="errorMessage != ''" dense type="error">
              {{ errorMessage }}
            </v-alert>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="primary darken-1" :loading="isLoading" @click="updateExam(editedExam._id)">
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import ExamsService from "@/services/ExamsService";
const moment = require("moment");

export default {
  name: "GetExams",
  data() {
    return {
      exams: [],
      editedExam: {},
      isModalUp: false,
      isLoading: false,
      errorMessage: "",
    };
  },
  created() {
    this.getExams();
  },
  methods: {
    formatDate(ISOdate) {
      return moment(ISOdate).format("DD/MM/YYYY HH:mm");
    },

    getExams() {
      this.errorMessage = "";
      this.isLoading = true;
      const resp = ExamsService.getExams();
      resp
        .then((suc) => {
          this.exams = suc.data.exams;
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    toggleUpdate(examID) {
      const currExam = this.exams.find(({ _id }) => _id === examID);
      console.log({...currExam})
      if (currExam !== undefined) {
        this.editedExam = { ...currExam };
        this.isModalUp = true;
      }
    },

    updateExam(examID) {
      this.errorMessage = "";
      this.isLoading = true;
      delete this.editedExam._id;
      const resp = ExamsService.patchExam(examID, this.editedExam);
      resp
        .then(() => {
          const examIndex = this.exams.findIndex((exam) => exam._id === examID);
          this.$set(this.exams, examIndex, { _id: examID, ...this.editedExam });
          this.editedExam = {};
          this.isModalUp = false;
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    deleteExam(examID) {
      this.errorMessage = "";
      this.isLoading = true;
      const resp = ExamsService.deleteExam(examID);
      resp
        .then(() => {
          const deletedExamIndex = this.exams.find(({ _id }) => _id === examID);
          this.exams.splice(deletedExamIndex, 1);
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    shareExam(examID) {
      const shareURL = location.href.replace("/exams", "/exam/" + examID);
      navigator.clipboard.writeText(shareURL);
      alert("Lien copié dans le presse papier : " + shareURL);
    },

    exportExam(examID) {
      const currExam = this.exams.find(({ _id }) => _id === examID);

      var csv = `${currExam.title},${currExam.startDate},${currExam.duration},${currExam.maxTimeAway}\n`;
      if(Object.prototype.hasOwnProperty.call(currExam, "questions")) {
        currExam.questions.forEach((question) => {
          csv += question.question + ",";
          if(Object.prototype.hasOwnProperty.call(question, "availableAnswers")) {
            question.availableAnswers.forEach((answer) => {
              csv += (question.correctAnswers.includes(answer) ? "c_" + answer : answer) + ",";
            });
          }
          csv += "\n";
        });
      }

      const a = document.createElement("a");
      a.href = URL.createObjectURL(new Blob([csv], { type: "text/csv" }));
      a.setAttribute("download", "Exam_" + currExam.title + ".csv");
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    },
  },
};
</script>

<style></style>
