<template>
  <v-container>
    <v-btn class="mx-2" fab dark small color="blue-grey" @click="$router.push('/exams/')">
      <v-icon dark>
        mdi-arrow-left
      </v-icon>
    </v-btn>
    <v-banner two-line>
      <v-avatar slot="icon" color="blue darken-3 accent-4" size="40">
        <v-icon icon="mdi-playlist-edit" color="white">
          mdi-playlist-edit
        </v-icon>
      </v-avatar>

      <h2 class="display-1 primary--text">{{ examTitle }} : questions</h2>
    </v-banner>

    <v-btn color="primary" @click="toggleCreate()" class="my-5">
      <v-icon left>
        mdi-plus
      </v-icon>
      Ajouter une question
    </v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>Question</th>
            <th>Réponses</th>
            <th>Bonnes réponses</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="question in questions" :key="question.id_question">
            <td>{{ question.question }}</td>
            <td>{{ question.availableAnswers }}</td>
            <td>{{ question.correctAnswers }}</td>
            <td>
              <v-btn @click.stop="toggleUpdate(question.id_question)" small class="mr-2"
                >Modifier</v-btn
              >
              <v-btn @click.stop="deleteQuestion(question.id_question)" small color="error"
                >Supprimer</v-btn
              >
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-dialog v-model="isModalUp" max-width="290">
      <v-card>
        <v-card-title class="headline">
          Modifier une question
        </v-card-title>

        <v-card-text>
          <v-text-field v-model="editedQuestion.question" label="Question"></v-text-field>
          <v-text-field
            v-model="editedQuestion.availableAnswers"
            hint="Séparées par une virgule"
            label="Réponses"
          ></v-text-field>
          <v-text-field
            hint="Séparées par une virgule"
            v-model="editedQuestion.correctAnswers"
            label="Bonnes réponses"
          ></v-text-field>
          <div>
            <v-spacer></v-spacer>
            <v-alert v-if="errorMessage != ''" dense type="error">
              {{ errorMessage }}
            </v-alert>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            v-if="isCreate"
            color="primary darken-1"
            :loading="isLoading"
            @click="createQuestion()"
          >
            Ajouter
          </v-btn>
          <v-btn
            v-else
            color="primary darken-1"
            :loading="isLoading"
            @click="updateQuestion(editedQuestion.id_question)"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import ExamsService from "@/services/ExamsService";
import QuestionsService from "@/services/QuestionsService";

export default {
  name: "Questions",
  data() {
    return {
      examTitle: "",
      questions: [],
      editedQuestion: {},
      isModalUp: false,
      isLoading: false,
      errorMessage: "",
      isCreate: false,
    };
  },
  created() {
    this.getQuestions();
  },
  methods: {
    getQuestions() {
      this.errorMessage = "";
      this.isLoading = true;
      const resp = ExamsService.getExam(this.$route.params.exam_id);
      resp
        .then((json) => {
          this.examTitle = json.data.exam.title;
          this.questions = json.data.exam.questions || [];
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    toggleCreate() {
      this.isCreate = true;
      this.isModalUp = true;
    },

    toggleUpdate(questionID) {
      this.isCreate = false;
      const currQuestion = this.questions.find(({ id_question }) => id_question === questionID);
      if (currQuestion !== undefined) {
        this.editedQuestion = { ...currQuestion };
        this.isModalUp = true;
      }
    },

    createQuestion() {
      this.errorMessage = "";
      this.isLoading = true;

      if (typeof this.editedQuestion.availableAnswers == "string")
        this.editedQuestion.availableAnswers = this.editedQuestion.availableAnswers.split(",");

      if (typeof this.editedQuestion.correctAnswers == "string")
        this.editedQuestion.correctAnswers = this.editedQuestion.correctAnswers.split(",");

      const resp = QuestionsService.createQuestion(this.$route.params.exam_id, this.editedQuestion);
      resp
        .then(() => {
          this.questions.push({ ...this.editedQuestion });
          this.editedQuestion = {};
          this.isModalUp = false;
          this.isCreate = false;
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    updateQuestion(questionID) {
      this.errorMessage = "";
      this.isLoading = true;
      delete this.editedQuestion.id_question;

      if (typeof this.editedQuestion.availableAnswers == "string")
        this.editedQuestion.availableAnswers = this.editedQuestion.availableAnswers.split(",");

      if (typeof this.editedQuestion.correctAnswers == "string")
        this.editedQuestion.correctAnswers = this.editedQuestion.correctAnswers.split(",");

      const resp = QuestionsService.patchQuestion(
        this.$route.params.exam_id,
        questionID,
        this.editedQuestion
      );
      resp
        .then(() => {
          const questionIndex = this.questions.findIndex(
            (question) => question.id_question === questionID
          );
          this.$set(this.questions, questionIndex, { ...this.editedQuestion });
          this.editedQuestion = {};
          this.isModalUp = false;
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },

    deleteQuestion(questionID) {
      this.errorMessage = "";
      this.isLoading = true;
      const resp = QuestionsService.deleteQuestion(this.$route.params.exam_id, questionID);
      resp
        .then(() => {
          const deletedQuestionIndex = this.questions.find(({ _id }) => _id === questionID);
          this.questions.splice(deletedQuestionIndex, 1);
        })
        .catch(
          (err) =>
            (this.errorMessage = err.response?.data.message || "Error: Could not reach server")
        )
        .finally(() => (this.isLoading = false));
    },
  },
};
</script>

<style></style>
