<template>
  <v-container style="max-width: 720px">
    <v-banner two-line>
      <v-avatar slot="icon" color="blue darken-3 accent-4" size="40">
        <v-icon icon="mdi-order-bool-ascending-variant" color="white">
          mdi-order-bool-ascending-variant
        </v-icon>
      </v-avatar>

      <h2 class="display-1 primary--text">{{ exam.title }}</h2>
      Fin le {{ endDate }}
    </v-banner>

    <v-card v-if="isFetchingAPI" :loading="isFetchingAPI">
      <v-card-title>Chargement du QCM...</v-card-title>
    </v-card>
    <v-card
      v-else
      v-for="q in exam.questions"
      :key="q.id_question"
      :loading="loadingQuestions.includes(q.id_question)"
      outlined
      class="mt-10"
    >
      <v-card-title>{{ q.question }}</v-card-title>
      <v-card-text>
        <v-checkbox
          v-for="answer in q.availableAnswers"
          :key="answer"
          :label="answer"
          :value="answer"
          v-model="q.studentAnswers[user._id]"
          @change="updateAnswer(q.id_question, answer)"
        ></v-checkbox>
      </v-card-text>
    </v-card>

    <v-snackbar v-model="snackbar">
      {{ snackbarMessage }}

      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import ExamsService from "@/services/ExamsService";
import AnswersService from "@/services/AnswersService";
const moment = require("moment");

export default {
  name: "TakeExam",
  data() {
    return {
      user: {},
      exam: {},
      isFetchingAPI: false,
      loadingQuestions: [],
      snackbarMessage: "",
      snackbar: false,
      lastTimeIn: null,
    };
  },
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));
    this.getExam();
    window.onblur = () => {
      this.lastTimeIn = new moment();
    };
    window.onfocus = () => {
      if (this.lastTimeIn != null) {
        // Update time away on server
        this.isFetchingAPI = true;
        const resp = ExamsService.updateTimeAway(this.$route.params.exam_id, {
          timeAway: new moment().diff(this.lastTimeIn, "seconds"),
        });
        resp
          .then((data) => {
            this.snackbarMessage = data.message;
          })
          .catch((err) => {
            console.log(err);
            this.snackbarMessage = err.response?.data.message || "Error: Could not reach server";
          })
          .finally(() => {
            this.snackbar = true;
            this.isFetchingAPI = false;
          });
      }
    };
  },
  computed: {
    endDate() {
      var endDate = moment(this.exam.startDate).add(this.exam.duration, "minutes");

      if (Object.prototype.hasOwnProperty.call(this.user, "extraTime")) {
        endDate.add(this.exam.duration * (this.user.extraTime / 100), "minutes");
      }

      return endDate.format("DD/MM/YYYY HH:mm");
    },
  },
  methods: {
    getExam() {
      this.isFetchingAPI = true;
      this.exam = {};
      const resp = ExamsService.getExam(this.$route.params.exam_id);
      resp
        .then((json) => {
          this.exam = json.data.exam;
          this.exam.questions.forEach((question) => {
            if (!Object.prototype.hasOwnProperty.call(question, "studentAnswers")) {
              question.studentAnswers = {
                [this.user._id]: [],
              };
            }
          });
        })
        .catch((err) => {
          this.snackbarMessage = err.response?.data.message || "Error: Could not reach server";
          this.snackbar = true;
        })
        .finally(() => (this.isFetchingAPI = false));
    },

    updateAnswer(questionID, answer) {
      this.isFetchingAPI = true;
      this.loadingQuestions.push(questionID);
      const currQuestion = this.exam.questions.find(
        (question) => question.id_question == questionID
      );

      const resp = AnswersService.putAnswer(
        this.$route.params.exam_id,
        questionID,
        currQuestion.studentAnswers[this.user._id]
      );
      resp
        .then((data) => {
          this.snackbarMessage = data.message;
        })
        .catch((err) => {
          console.log(err);

          // Rollback changes
          currQuestion.studentAnswers[this.user._id].includes(answer)
            ? currQuestion.studentAnswers[this.user._id].splice(
                currQuestion.studentAnswers[this.user._id].indexOf(answer),
                1
              )
            : currQuestion.studentAnswers[this.user._id].push(answer);

          this.snackbarMessage = err.response?.data.message || "Error: Could not reach server";
        })
        .finally(() => {
          this.loadingQuestions.splice(this.loadingQuestions.indexOf(questionID));
          this.snackbar = true;
          this.isFetchingAPI = false;
        });
    },

    updateStudentTimeAway(timeToAdd) {
      this.isFetchingAPI = true;
      const resp = ExamsService.updateTimeAway(this.$route.params.exam_id, { timeAway: timeToAdd });
      resp
        .then((data) => {
          this.snackbarMessage = data.message;
        })
        .catch((err) => {
          console.log(err);
          this.snackbarMessage = err.response?.data.message || "Error: Could not reach server";
        })
        .finally(() => {
          this.snackbar = true;
          this.isFetchingAPI = false;
        });
    },
  },
};
</script>

<style></style>
