<template>
  <!-- side bar left -->
  <v-navigation-drawer app v-model="drawer" class="blue-grey lighten-4">
    <v-container>
      <v-card
        class="pt-3 mx-12 mt-10"
        shape
        flat
        color="blue-grey lighten-3"
      >
        <v-layout column align-center>
          <v-btn icon x-large class="mt-n8">
            <v-avatar class="blue-grey lighten-5" size="56">{{
              header[0]
            }}</v-avatar>
          </v-btn>
          <v-card-text class="text-md-center pt-4">{{ header }}</v-card-text>
        </v-layout>
      </v-card>
    </v-container>

    <v-list>
      <v-list-item
        v-for="link in links"
        :key="link.text"
        router
        :to="link.route"
      >
        <v-list-item-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title>
            {{ link.text }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="ma-4 pa-4 mx-4"></v-divider>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { bus } from "@/main";

export default {
  name: "NavigationDrawer",
  props: ["drawer", "links", "header"],
  data() {
    return {
      // isDisplay: false,
      // header: "",
    };
  },
  created() {
  //   bus.$on("changeIt", (data) => {
  // //     // console.log(bus);
  // //     this.isDisplay = true;
  //     this.header = data;
  //   });
    bus.$on("removeIt", () => {
  //     // console.log(data)
  //     this.isDisplay = false;
      this.header = "";
    });
  },
};
</script>

<style>
</style>