<template>
  <v-app>
    <Navbar />
    <v-main>
      <!-- <HelloWorld /> -->
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from "./components/HelloWorld";
import Navbar from "./views/NavBar";

export default {
  name: "App",
  components: {
    Navbar
  }
}
</script>
