<template>
  <AdminBoard />
</template>

<script>
import AdminBoard from "@/components/AdminBoard.vue";

export default {
  name: "Admin",
  components: {
    AdminBoard,
  },
};
</script>

<style></style>
