<template>
  <v-container>
    <v-banner two-line>
      <v-avatar slot="icon" color="blue darken-3 accent-4" size="40">
        <v-icon icon="mdi-book-plus" color="white">
          mdi-book-plus
        </v-icon>
      </v-avatar>

      <h2 class="display-1 primary--text">Gestion des examens</h2>
    </v-banner>

    <v-tabs centered>
      <v-tab>
        <v-icon left> mdi-pencil </v-icon>
        Editer
      </v-tab>
      <v-tab>
        <v-icon left> mdi-plus </v-icon>
        Créer
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row><GetExams /></v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <CreateExams />
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
import GetExams from "@/components/Exams/GetExams";
import CreateExams from "@/components/Exams/CreateExams";

export default {
  name: "Exams",
  components: {
    GetExams,
    CreateExams,
  },
};
</script>

<style></style>
