<template>
  <v-container> <Auth /></v-container>
</template>

<script>
// @ is an alias to /src
import Auth from "@/components/Auth.vue";

export default {
  name: "Home",
    components: {
    Auth,
  },
};
</script>
