<template>
  <nav>
    <!-- main bar -->
    <v-app-bar flat app class="blue-grey lighten-4">
      <transition name="fade">
        <v-app-bar-nav-icon @click="drawer = !drawer">
          <v-icon x-large v-if="drawer">close</v-icon></v-app-bar-nav-icon
        ></transition
      >
      <v-toolbar-title>
        <span class="font-weight-light">CY</span>
        <span>QCM</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="displaySignOut" @click="signOut" color="error">
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>
    <NavigationDrawer
      v-if="displayNavigationDrawer && this.role === 'admin'"
      :drawer="drawer"
      :links="linksAdmin"
      :header="header"
    />
    <NavigationDrawer
      v-else-if="displayNavigationDrawer && this.role === 'student'"
      :drawer="drawer"
      :links="linksStudent"
      :header="header"
    />
  </nav>
</template>

<script>
import NavigationDrawer from "@/components/NavBar/NavigationDrawer";
import AuthService from "@/services/AuthService";
import { bus } from "@/main";

export default {
  name: "NavBar",
  components: {
    NavigationDrawer,
  },
  data() {
    return {
      role: "",
      header: "",
      displaySignOut: false,
      displayNavigationDrawer: false,
      drawer: false,
      linksAdmin: [
        { icon: "home", text: "Home", route: "/" },
        { icon: "folder", text: "Exams", route: "/exams" },
        { icon: "dashboard", text: "Administration", route: "/admin" },
      ],
      linksStudent: [{ icon: "home", text: "Home", route: "/" }],
    };
  },
  created() {
    bus.$on("changeIt", (data) => {
      this.header = data;
      this.displaySignOut = true;
      this.displayNavigationDrawer = true;
    });
    bus.$on("role", (data) => {
      this.role = data;
      console.log(this.role === "admin");
      this.displayNavigationDrawer = true;
    });
  },
  mounted() {
    this.role = this.$session.get("role");
    this.drawer = true;
    this.displaySignOut = true;
    this.displayNavigationDrawer = true;
    this.header = this.$session.get("user");
    console.log(this.role);
  },
  methods: {
    signOut: function () {
      AuthService.signOut();
      this.$session.destroy();
      bus.$emit("removeIt", "off");
      this.displaySignOut = false;
      this.displayNavigationDrawer = false;
      this.$router.push("/").catch(() => {});
      localStorage.removeItem("user");
      localStorage.removeItem("jwt");
    },
  },
};
</script>

<style>
</style>